<h1>Saved Posts</h1>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$">
      
      <!--  <button mat-raised-button color="primary" (click)=deletePost(post.id)>Delete Post</button>
        <button mat-raised-button color="primary" [routerLink]="'/postform/' + post.id">Edit Post</button>-->
    
         {{post}}

           <br>
          
        <mat-card-actions>
     
        </mat-card-actions>
        
        </mat-expansion-panel>
  </mat-accordion>