<mat-accordion>
    <mat-expansion-panel *ngFor = "let article of articles">
      <mat-expansion-panel-header>
        <mat-panel-title>
        {{article.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
        {{article.author}}
        </mat-expansion-panel>
  </mat-accordion>
