<div *ngIf = "!(authservice.user | async)?.uid">
   
   <h1>Welcome</h1>
    <!--You must log in to view this app
    <div>
        <button mat-raised-button color="primary" [routerLink]="['/login']"> Log In </button>
    </div>
    <div>
        <p>Or Sign Up Now!</p>
        <button mat-raised-button color="primary" [routerLink]="['/signup']"> Sign Up </button>
    </div>

</div>-->
<br><br>
 <div *ngIf = "(authservice.user | async)?.uid">
             <h1>Welcome  {{usermail}}</h1>
</div>