<!--<button mat-raised-button color="accent" (click) = "onSubmit()">Push Posts to FB</button>-->
<!--<button class= mat-raised-button color="primary" [routerLink]="['/postform']">Add New Post</button >-->
    <h1>Recent Posts</h1>
    <mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts$">
          <mat-expansion-panel-header>
            <mat-panel-title>
            {{post.title}} &nbsp;&nbsp;&nbsp;&nbsp; {{post.id}}
          <!--  <button mat-raised-button color="primary" (click)=deletePost(post.id)>Delete Post</button>
            <button mat-raised-button color="primary" [routerLink]="'/postform/' + post.id">Edit Post</button>-->
            </mat-panel-title>
          </mat-expansion-panel-header >
        
                 {{post.body}}
    
               by {{post.author}}<br>
               <button mat-raised-button color="primary" (click)="onSubmit(post.body)">Save Post </button>
            <mat-card-actions>
         
            </mat-card-actions>
            <h4>Comments</h4>
            <div *ngFor ="let comment of comments$">
                    <div *ngIf= "post.id == comment.postId">{{comment.email}} &nbsp; commented: &nbsp;&nbsp;&nbsp;&nbsp;{{comment.body}}</div>
                        </div>
            </mat-expansion-panel>
      </mat-accordion>
 